# xcode noise
build/*
DerivedData

*.pbxuser
!default.pbxuser

*.mode1v3
!default.mode1v3

*.mode2v3
!default.mode2v3

*.perspective
*.perspectivev3
!default.perspectivev3

*.orig
*.swp
*~.nib

*.xccheckout
*.moved-aside

*.hmap
*.ipa

xcuserdata/
xcsettings

*.xcuserstate
*.xcscmblueprint

# old skool
.svn

# osx noise
.DS_Store
Icon